<div class = "aboutMe">

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu eros nisi.
        Cras at tincidunt velit. Maecenas ultrices felis vestibulum, facilisis urna vitae, semper dolor.
        In et porttitor sem. Aenean faucibus urna a eros porttitor, sed dictum sapien interdum.
        Aliquam sapien magna, rhoncus id tincidunt sed, luctus vitae odio. Maecenas at lectus in nisl efficitur elementum.

    </p>

</div>